
.breadcrumb{
    border: none;
    margin-bottom: 0px;
    padding: 15px 20px;
}

.font-weight-medium {
    font-size: 26px;
}
.btn-estilos {
    font-size: 14px;
    padding: 10px 30px;
}

.card {
    border-radius: 8px;
}